<div class="about-me-container">
  <app-navigation></app-navigation>
  <h1 class="big-title">Portfolio</h1>
  <div class="tiles-container row">
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">WebV</p>
      <p class="tile-p">An enterprise Electronic Patient Records (EPR) System for Northern Lincolnshire and Goole NHS Foundation Trust United Kingdom.</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Ving AI(WEB)</p>
      <p class="tile-p">A secure and responsive currency exchanger for different currencies.</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Wizer Academy</p>
      <p class="tile-p">A tool used to register and pay for training courses.</p>
      <p (click)="goToSite('https://academy.wizerconsulting.com/home')" class="link">Link</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">COVID-19 Incidence and Response Tracker</p>
      <p class="tile-p">A tool used to track resources needed by the country to treat COVID-19 patients.</p>
      <!-- <p (click)="goToSite('https://covid-19response.ng/')" class="link">Link</p> -->
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Nicodemians</p>
      <p class="tile-p">A counseling application for spiritual counselors to interact with their members.</p>
      <p (click)="goToSite('https://goofy-wozniak-242e4d.netlify.app/home')" class="link">Link</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Wizer Recruiter</p>
      <p class="tile-p">An application for submitting job applications on behalf of companies.</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Notification Service</p>
      <p class="tile-p">An in-house microservice that sends email and SMS notifications to users across various
        applications.</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Aquila</p>
      <p class="tile-p">A multi-tenant customizable core banking application that helps organizations manage their
        lending activities.</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Aquila Web Client</p>
      <p class="tile-p">A customizable web client for Aquila where tenant's customers can apply for loans and perform
        inter-bank transfers.</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Tembea</p>
      <p class="tile-p">An in-house application that automates cab requests and reconciliation via slack and a web
        application.</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">EPIC Mail</p>
      <p class="tile-p">A messaging application that allows registered users to send messages to each other.</p>
      <p (click)="goToSite('https://epic-mail-react-version.herokuapp.com/')" class="link">Link</p>
    </div>
    <div class=" tile shadow-sm">
      <i class="fas fa-briefcase"></i>
      <p class="tile-title">Donor Management System</p>
      <p class="tile-p">A web application that allows users to view donor information.</p>
      <p (click)="goToSite('https://donor-management.herokuapp.com/')" class="link">Link</p>
    </div>
  </div>
</div>