<div class="home-container">
  <div class="plaster-div"></div>
  <div class="center-div">
    <img src="assets/images/profile.jpg" alt="" class="image">
    <div class="text-div">
      <h1 class="primary-text-color animation-style">Hi! I'm Mosinmiloluwa</h1>
      <h1 class="grey-text-color">Software Engineer</h1>
      <p class="grey-text-color">A software enthusiast with over 3 years experience and is very passionate about using
        software to create solutions that help people improve their quality of life.
      </p>
    </div>
  </div>
  <app-navigation></app-navigation>
</div>